In [43]:
import pandas as pd

ratings = pd.read_csv("../data/raw/u.data", delimiter="\t",names=["user_id", "item_id", "rating", "timestamp"])

In [44]:
users = pd.read_csv("../data/raw/u.user", delimiter="|", names=["user_id", "age", "gender", "occupation", "zip_code"])

In [45]:
genres = pd.read_csv("../data/raw/u.genre", delimiter="|", names=["name", "genre_id"])

In [46]:
items = []
with open("../data/raw/u.item", "rb") as f:
    for line in f.readlines():
        try:
            line = line.decode()
        except:
            line = line.decode('iso-8859-1')
        items.append(line[:-1].split("|"))
items = pd.DataFrame(items, columns=["movie_id", "movie_title", "release_date", "video_release_date", "imdb_url"] + list(genres.name))

In [47]:
# items
def date_to_year(date):
    if not date:
        return None
    return int(date.split("-")[-1])

items["release_year"] = items["release_date"].map(date_to_year)
del items["release_date"]
del items["video_release_date"]
del items["imdb_url"]

In [48]:
items.to_csv("../data/interim/items.csv", index=False)
items.head()

,movie_id,movie_title,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,release_year
0,1,Toy Story (1995),0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1995.0
1,2,GoldenEye (1995),0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1995.0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1995.0
3,4,Get Shorty (1995),0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1995.0
4,5,Copycat (1995),0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1995.0

In [49]:
users.gender.unique()
users["male"] = users.gender == "M"
users["female"] = users.gender == "F"
del users["gender"]
occupations = users.occupation.unique()
for i in occupations:
    users["occupation_" + i] = users.occupation == i
del users["occupation"]

In [50]:
users.to_csv("../data/interim/users.csv", index=False)
users.head()

,user_id,age,zip_code,male,female,occupation_technician,occupation_other,occupation_writer,occupation_executive,occupation_administrator,...,occupation_librarian,occupation_homemaker,occupation_artist,occupation_engineer,occupation_marketing,occupation_none,occupation_healthcare,occupation_retired,occupation_salesman,occupation_doctor
0,1,24,85711,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,53,94043,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,23,32067,True,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,4,24,43537,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,5,33,15213,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [51]:
del ratings["timestamp"]
ratings.to_csv("../data/interim/ratings.csv", index=False)
ratings.head()

   user_id  item_id  rating
0      196      242       3
1      186      302       3
2       22      377       1
3      244       51       2
4      166      346       1